
// COLORS

$reality-stone: #42060C;
$america-red: #A2111D;
$galaxy-pink: #E96561;
$dust-pink: #C7798F;
$cosmic-pink: #D36FC7;
$star-white: #FDFEF7;
$shine-blue: #9FABDB;
$nebula: #3A4AA0;
$thanos: #51307C;
$power-stone : #3D0453;
$space-stone :#1D1D44;
$endgame: #03012D;

.reality-stone{
    color: $reality-stone;
} 
.america-red{
    color: $america-red;
} 
.galaxy-pink{
    color: $galaxy-pink;
} 
.dust-pink{
    color: $dust-pink;
} 
.cosmic-pink{
    color: $cosmic-pink;
} 
.star-white{
    color: $star-white;
} 
.shine-blue{
    color: $shine-blue;
} 
.nebula{
    color: $nebula;
} 
.thanos{
    color: $thanos;
} 
.power-stone {
    color: $power-stone;
} 
.space-stone {
    color: space-stone;
}
.endgame{
    color: $endgame;
} 